body {
  background-color: #FFB38D;
  margin: 0;
}

h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #8ABAEB;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

h2 {
  background-color:
}
